form{
    border: 1px solid black;
    width: 300px;
    height: 250px;
    margin: 87px 10000px 0px 93px;
    text-align:center;
    font-size: 20px;
     /* for style font-style: italic; */
    font-family:'Times New Roman';
    border-radius: 20px;
    background-image: url(/css1/image/download.jpg)
    /* to change the corner of border from squre to curve */
}
body{
           background-image: url(/css1/image/d.jpg);
           background-size: cover;
}
/* for attribute selector */
input[type="email"], input[type="password"]{
   width:200px; 
   height: 25px;
   border: 1px solid black;
   border-radius: 40px;
   
   
   /* for increase the size of textbox */
}
input[type="email"]:focus, input[type="password"]:focus{
    outline:none;
    /* background-image: url(/css1/image/fl.jpg) */
    /* background-color: bisque; */
}

input[type="submit"],input[type="reset"] {
    margin-top: 20px;
    width: 80px;
    border-radius: 20px;
    padding: 8px 8px;

    
}
/* for pseudo attribute */
input[type="submit"]:hover{
    /* color: greenyellow; */
    background-color: red;
    border: 2px solid blue;
}