table,th,td{
    border: 1px solid black;
    /* to make single line border */
    /* border-collapse: collapse; */
    /* to make gap between text and border */
    padding: 20px;
    text-align: center;
    border-radius: 30px;
}
table{
    width: 60%
}
th{
    background-color: rgb(224, 161, 131);
}
tr:nth-child(Even)
{
    background-color: rgb(145, 245, 166)
}
tr:nth-child(odd)
{
    background-color: rgba(0, 217, 255, 0.336)
}
td:hover{
    background-color: brown;
    color: azure;
    cursor: pointer;
}