<div class="bg-img">
    <h3 style="color: green; text-align: center;">{{msg}}</h3>

<div class="container">
    <h1 style="font-family:'Times New Roman', Times, serif; text-align: center; color: red;">Available products List</h1><br>
    <input type="search"  style="width: 70%; margin-left: 15%; border: 1px solid black;"  class="form-control" [(ngModel)]='search' placeholder="Search Book Name"> <br>

<table class="table table-striped  mt-5 ml-2">
<thead class="thead-inverse bg-dark">
<tr style="color: whitesmoke;">
    <th>Product Id</th>
    <th>Product Name</th>
    <th>category</th>
    <th>comapany</th>
    <th>quantity</th>
    <th>price</th>
    <th>ursquantity</th>
    <th>Request</th>
    
</tr>
</thead>
<tbody class="bg-light">
    <tr *ngFor='let product of products'>
        <td scope="row">{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.category}}</td>
        <td>{{product.company}}</td>
        <td>{{product.quantity}}</td>
        <td>{{product.price}}</td>
        <td><input type="number" name="qq" [(ngModel)]="qq" id="">enter quantity</td>

        <td><button  class="btn btn-dark"  (click)='sendRequest(product,i)'>Request</button></td>
    </tr>
</tbody>
</table>
</div>
</div>

